.sidebar-nav > .sidebar-nav-item{
    color: var(--grey);
    margin: 10px;
}

.sidebar-nav > .sidebar-nav-item.active{
    font-weight: bold;
}

.sidebar-nav > .sidebar-nav-item:hover{
    color: var(--hover-invert);
    text-decoration: none;
}